/*
*
* variables globals
*
*/
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    --button: #0366d6; 
    --link: #0366d6;
}
button{
    background: var(--button);
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
}
/*
*
* mapa.js
*
*/
#mapa-catalunya{
    height: 100vh;
}
.Icon{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Icon img{
    height: 50px;
    width: 50px;
}
.Icon .Number{
    background: white;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: x-small;
    padding: 3px;
    text-align: center;
    width: max-content;
}
.leaflet-marker-icon{
    background: none;
    border: none;
}
/*
*
* login.js
*
*/
.Login,
.User{
    background: rgba(1, 1, 1, 0.5);
    display: flex;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999999999;
}
.Login-Wrapper,
.User-Wrapper{
    background: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    padding: 20px;
}
.Login-Wrapper form{
    display: flex;
    flex-direction: column;
}
.Login-Wrapper input{
    background: lightGray;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.User-Pic{
    align-items: center;
    border: 1px solid lightGray;
    border-radius: 6px;
    display: flex;
    margin-bottom: 5px;
}
.User-Pic.Selected{
    background: lightGray;
    transition: 0.2s ease-in-out;
}
.User-Pic:hover{
    background: lightGray;
    cursor: pointer;
}
.User img{
    height: 40px;
    width: 40px;
}
.Login img{
    border-radius: 50%;
    height: 70px;
    margin: auto;
    width: 70px;
}
.Login .Error{
    color: red;
    font-size: small;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.Loader{
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99999999999999;
}
.Loader .Loader-Wrapper{
    align-items: center;
    background: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.Loader .Circle{
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 5px solid lightGray;
    border-top-color: var(--link);
    animation: loader 0.75s linear infinite;   
}
@keyframes loader{
    0%   {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
/*
*
* mapa.js
*
*/
.leaflet-container a{
    font-size: x-small;
}
/*
*
* search.js
*
*/
.Cerca{
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    display: flex;
    flex-direction: column;
    left: 20px;
    max-height: 400px;
    padding: 5px;
    position: fixed;
    top: 20px;
    width: 400px;
    z-index: 999999998;
}
.Cerca input{
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}
.Cerca .Llistat{
    max-height: 400px;
    overflow-y: auto;
}
.Cerca li{
    align-items: center;
    border-top: 1px solid lightGray;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.Cerca li:hover{
    background: lightGray;
    border-radius: 6px;
    cursor: pointer;
}
.Cerca li .Pk{
    color: gray;
    font-size: x-small;
    text-transform: uppercase;
}
.Cerca li .Carretera-Pk{
    display: flex;
    flex-direction: column;
}